body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
      }

      .full-height {
          height: 100vh;
      }

      .flex-center {
          align-items: center;
          display: flex;
          justify-content: center;
      }

      .position-ref {
          position: relative;
      }

      .top-right {
          position: absolute;
          right: 10px;
          top: 18px;
      }

      .content {
          text-align: center;
      }

      .title {
          font-size: 84px;
      }

      .links > a {
          color: #636b6f;
          padding: 0 25px;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: .1rem;
          text-decoration: none;
          text-transform: uppercase;
      }

      .m-b-md {
          margin-bottom: 30px;
      }
    .dropdown a{
        background-color: rgb(218, 218, 218);
        font-weight: 600px;
        color: black;
    }
    .agregar a{
        color: white;
        padding: 1px;
        background-color: rgb(172, 170, 122);
    }
    .form-horizontal {
        width: 800px;
    }
.posteo {
      list-style: none;
      padding-left: 0;
}
    .panel-heading{
        font-size: 1.2em;
        font-weight: 500;
    }
    .panel-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .placebuttons {
            padding-left: 1em;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .edit {
            padding-right: 1em;
            /* background-color: blue; */
        }

        .app {
            background-image: url('../img/restaurant_icons2.png');
            background-repeat: repeat;
            /* background-color: blue; */
            height: 100vh;
        }


.home {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

    .description {
        font-size: 0.4em
    }

@media (min-width: 768px) {
    .home {
        font-size: 2em;
    }
        .description {
            font-size: 0.3em;
        }
    .panel-body {
        justify-content: space-between;
    }
}
