a{
  color:rgb(124, 200, 161)
}
body{
  background:#e8e8e8;
  color:#444;
  font-family:Arial;
  font-size:16px
}

nav {
  background:rgb(17, 28, 24);
  position:relative;
  display:flex;
  justify-content:right;
}

nav.menu{
  height:40px;
  line-height:40px;
  margin:0;
  padding:0;
  overflow-x:auto;
  white-space:nowrap;
  position:relative;
  right:10px}
  
nav .menu::-webkit-scrollbar{display:none}
nav .menu li{display:inline-block;}
nav .menu li a{color:#fff;display:block;margin:0 .5em;padding:0 .2em;text-decoration:none;}
nav .menu li:before{border-left: 1px solid white;}
nav .menu li a:hover{background:rgba(0,0,0,0.1)}
.publicar{background:rgb(124, 200, 161);border-radius:5px;color:#fff;padding:.1em .4em;text-decoration:none;}
nav.user{
  position:absolute;
  right:10px;
  top:10px;
}
nav .user img{
  border-radius:50%;
  width:50px;
}
nav.logo{
  border-right:
  1px solid rgb(17, 28, 24);
  float:left;
  width:60px;
}
nav.logo img{width:52px}
rgb(17, 28, 24)
rgb(124, 200, 161)
